
<% include ../partials/_header %>
<div class="formBody">
<h2>Register</h2>
  <form method="POST" action="/register">
    <div>

      <input class="formInput" class="formInput" type="text" placeholder="First Name" name="firstName" id="firstName">
    </div>
    <div>

      <input class="formInput" type="text" name="lastName" placeholder="Last Name" id="lastName">
    </div>
    <div>

      <input class="formInput" type="text" label="username" name="username" placeholder="Username" id="username">
    </div>
    <div>

      <input class="formInput" type="email" name="email" placeholder="Email" id="email">
    </div>
    <div>

      <input class="formInput" type="password" name="password" placeholder="Password" id="password">
    </div>
    <div>
      <input class="formInput" type="password" placeholder="Confirm Password  " name="passwordConfirmation" id="passwordConfirmation">
    </div>

    <button>REGISTER</button>
  </form>
</div>
