<header>
  <nav>
    <ul>
      <a href="/photos" class="logo"> moments </li>

        <%# <form method="GET">
      <input type="text" name="q" placeholder="Search">
    </form>%>


          <%  if(!locals.isLoggedIn) { %>
            <li class="nav-item ">
            <a class="nav-link log" href="/login">LOG IN</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/register">REGISTER</a>
            </li>
            <% } else { %>
              <li class="nav-item">
              <a class="nav-link  log" href="/logout">LOG OUT</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/users/<%= user.id %>">PROFILE</a>
              </li>
              <li>
              <a class="nav-item" href="/photos/new">ADD PHOTO </a>
              </li>
              <li>
              <a class="nav-item" href="/groups">GROUPS </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/photos %>">HOME</a>
              </li>
              <% } %>
            </div>
          </div>
        </ul>
      </nav>
      <% for(const type in messages) { %>
        <div class="callout <%= type %>">
        <%= messages[type] %>
        </div>
        <% } %>
    </header>
