<header>
  <nav>

    <ul>
      <div class="logo">
        <a href="/photos" class="logo"> moments </a>
      </div>
        <%  if(!locals.isLoggedIn) { %>
            <li class="menu">&#9776;</li>
          <div class="dropdown">
            <li> <a class="log" href="/login">LOG IN</a></li>
            <li> <a href="/register">REGISTER</a></li>
          </div>
            <% } else { %>
              <li class="menu">&#9776;</li>
          <div class="dropdown">
            <li><a class="log" href="/logout">LOG OUT</a></li>
            <li><a href="/users/<%= user.id %>">PROFILE</a></li>
            <li><a href="/photos/new">ADD PHOTO </a></li>
            <li><a href="/groups">GROUPS </a></li>
            <li><a href="/photos %>">HOME</a></li>
          </div>

            <% } %>
    </ul>
  </nav>
  <% for(const type in messages) { %>
    <div class="callout <%= type %>">
    <%= messages[type] %>
    </div>
    <% } %>
  </header>
