<% include ../partials/_header %>

<div class="formBody">
  <h2>Make A Moment</h2>
<form method="POST" action="/photos" enctype="multipart/form-data">
    <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
  </div>

    <div>
      <label for="caption"></label>
      <textarea class="formInput" type="text" name="caption" id="caption" placeholder="Caption"></textarea>
    </div>

    <label>Groups</label>
    <% groups.forEach((group) => { %>
      <label>
        <input type="checkbox" name="groups" value="<%= group.id %>">
        <%= group.name %>
      </label>
    <% }) %>

    <button type="submit">Submit</button>
  </form>
</div>
