<% include ../partials/_header %>

<div class="formBody">
  <h2>make a moment</h2>
<form method="POST" action="/photos" enctype="multipart/form-data">

  <div>

    <label for="image" class="btn btn-success fileinput-button"><i class="fa fa-camera" aria-hidden="true"></i> Upload an image</label>
    <input type="file" name="image" id="image" class="hideButton">
  </div>

    <div>
      <textarea class="formInput" type="text" name="caption" id="caption" placeholder="Caption"></textarea>
    </div>
    <input type="hidden" name="date" value="<%= moment(new Date).format('DD-MM-YYYY') %>">

<div class="groupSelect">


    <h3> <label>Groups</label> <h3>
    <% groups.forEach((group) => { %>
      <label>
        <input type="checkbox" name="groups" value="<%= group.id %>">
        <%= group.name %>
      </label>
    <% }) %>
</div>
    <button type="submit">SUBMIT</button>
  </form>
</div>
