<% include ../partials/_header %>


<div class="blockTitle">
<h1> Your Groups</h1>
<h3><a href="/groups/new"> New Group </a> </h3>
</div>

<div class="groupPage">
<% groups.forEach((group) => { %>
  <a href="/groups/<%= group.id %>">
  <div class="groupShow">
  <div class="cardSpacing">
  <h2> Group Name </h2>
  <p> <%= group.name %> </p>
  </div>


  <h3> Members </h3>

  <% group.members.forEach((member) => { %>
    <div class="members"><%= member.username %></div>
    <% }) %>


    <div class="cardSpacing">
    <h3> About </h3>
    <p>  <%= group.description %> </p>
    </div>

    </a>
    </div>
    <% }) %>
  </a>
  </div>
