<% include ../partials/_header %>

<% if (groups.length === 0) { %>
<div class="emoji">
  <div class="face face__sad">
    <div class="eye-left"></div>
    <div class="eye-right"></div>
    <div class="mouth"></div>
  </div>
</div>

<div class="noPhotos">
  <h2> You are not a part of any groups </h2>
  <p> Make a group and add photos to start your feed </p>
  <a href="/groups/new" class="btnColorAdd"> <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD GROUP </a>
  </div>

  <% } else { %>

<div class="blockTitle">
<h1> Your Groups</h1>
<h3><a href="/groups/new" class="btnColor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD GROUP </a> </h3>
</div>

<div class="imgSection">
<div class="groupPage">
<% groups.forEach((group) => { %>
  <a href="/groups/<%= group.id %>">
  <div class="groupShow">
  <div class="cardSpacing">
  <p> Group Name </p>
  <h2> <%= group.name %> </h2>
  </div>


  <p> Members </p>

  <% group.members.forEach((member) => { %>
    <div class="members"><%= member.username %></div>
    <% }) %>


    <div class="cardSpacing">
    <p> About </p>
    <p>  <%= group.description %> </p>
    </div>

    </a>
    </div>
    <% }) %>
  </a>
  </div>
</div>
<% } %>
