<% include ../partials/_header %>


<div class="blockTitle">
<h1> Your Groups</h1>
<h3><a href="/groups/new" class="btnColor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> ADD GROUP </a> </h3>
</div>

<div class="imgSection">
<div class="groupPage">
<% groups.forEach((group) => { %>
  <a href="/groups/<%= group.id %>">
  <div class="groupShow">
  <div class="cardSpacing">
  <p> Group Name </p>
  <h2> <%= group.name %> </h2>
  </div>


  <p> Members </p>

  <% group.members.forEach((member) => { %>
    <div class="members"><%= member.username %></div>
    <% }) %>


    <div class="cardSpacing">
    <p> About </p>
    <p>  <%= group.description %> </p>
    </div>

    <hr>

    </a>
    </div>
    <% }) %>
  </a>
  </div>
</div>
