<% include ../partials/_header %>

<div class="formBody">
  <h2>Create a Group</h2>
  <form method="POST" action="/groups" enctype="multipart/form-data">
    <div>
      <input class="formInput" class="formInput" type="text" placeholder="Group name" name="name" id="name">
    </div>



      <div>
        <textarea class="formInput" type="text" name="description" id="description" placeholder="Description"></textarea>
      </div>

      <div class="groupSelect">
        <h3> Add members </h3>

        <% users.forEach((user) => { %>
          <div class="checkBox">
          <label>
          <input type="checkbox" name="members" value="<%= user.id %>">
          <%= user.username %>
          </label>
              </div>
          <% }) %>

        </div>

      <button type="submit">CREATE GROUP</button>
    </form>
  </div>
