<% include ../partials/_background %>
<div class="homepagePhoto"></div>
<div class="homepageTitle">
  <h1><a href="/photos">moments</a></h1>
  <p>Share amazing moments with the people who matter most </p>
<div class="homepageBtn">
  <a href="/login" class="primaryBtn">LOG IN</a>
  <a href="/register" class="primaryBtn">SIGN UP</a>

</div>

</div>
