<% include ../partials/_background %>
<div class="homepagePhoto"></div>
<div class="homepageTitle">
  <div class="logoMain">moments</div>
  <p>Share amazing moments with the people who matter most </p>
<div class="homepageBtn">
  <a href="/login" class="primaryBtn">LOG IN</a>
</div>
  <div class="homepageBtn">
  <a href="/register" class="primaryBtn">SIGN UP</a>
</div>

</div>
