<% include ../partials/_header %>
<div class="formBody">
  <h2>Log In</h2>

  <form method="POST" action="/login" class="loginForm">
    <div>

      <input class ="formInput" type="text" placeholder="Email" name="email" id="email">
    </div>
    <div>

      <input class="formInput" type="password" placeholder="Password" name="password" id="password">
    </div>

    <button>LOG IN</button>
      <a href="<%=oauth.instagram.getLoginUrl() %>" class="instaBtn">SIGN UP WITH INSTAGRAM</a>
  </form>

</div>
