// SASS Variabels
$highLight: black;
$borderColor: #f5f5f5;
$mainFontColor: black;

* {
  box-sizing: border-box;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: $borderColor;
}

.cardSpacing{
  margin: 0px 0px 24px 0px;
}

h1{
  font-family: 'Cormorant', serif;
  font-weight: 100;
  font-size: 48px;
  font-kerning: auto;
  margin: 0px 0px 15px 0px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 30px;
  font-kerning: auto;
  margin: 0px 0px 20px 0px;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-kerning: auto;
  margin: 16px 0px 20px 0px;
}

h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-kerning: auto;
  margin: 0px 0px 10px 0px;
}

p {
 margin-top: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 14px;
}


.backgroundGrid{
  margin: 0 auto;
  display: flex;
  justify-caption: center;
  align-caption: space-between;
  overflow-y: hidden;
  height: 100vh;
}

.backgroundGrid-1{
  display: inline-block;
  width: 11%;
  margin: 0px 8px;
  height: 3000px;
  border: 1px solid #f1f1f1;
}

body{
  background-color: #fafafa;
}


nav{
  padding: 10px 30px;
  height: 70px;
  z-index: 50;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $borderColor;

}

.dropdown {
          display: none;
        }

nav li {
  font-family: 'Raleway', sans-serif;;
  color: $highLight;
  font-size: 13px;
  float: right;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

a{
  text-decoration: none;
  color: $mainFontColor;
}

nav li a{
  color: $highLight;
  cursor: pointer;
  text-decoration: none;
}

.logo{
  text-decoration: none;
    font-family: Cormorant,serif;
    font-weight: 900;
    color: black;
    line-height: 0.3;
    font-size: 42px;
    letter-spacing: -2px;
    float: left;
}
.logoMain{
    text-decoration: none;
    font-family: Cormorant,serif;
    font-weight: 900;
    color: black;
    font-size: 100px;
    line-height: 1;
}

.homepagePhoto{
  position: absolute;
  top: 10%;
  left: 7%;
  background-image: url("https://images.unsplash.com/photo-1476937673710-8174834aa065?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=  ");
  background-repeat: no-repeat;
  background-size: cover;
  width: 55%;
  height: 80vh;

  &:before {
      content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom right,#ffffff,#ffffff);
  	opacity: .6;
    }
}


// FORM STYLES

.formBody{
  width: 50%;
  border: 1px solid $borderColor;
  background-color: white;
  padding: 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
  &[type=checkbox],
  &[type=radio] {
    margin-right: 10px;
  }
}

input{
  &[type='text'],
  &[type='password'],
  &[type='password confimation'],
  &[type='-webkit-autofill'],
  &[type='email'] {
    width: 90%;
    padding: 10px 30px 1px 10px;
    height: 48px;
    border: none;
    border-bottom: 1px solid grey;
    -webkit-appearance:none;
    outline: none;
    font-size: 14px;

  }
}

textarea, input { outline: none; }

textarea {
  width: 95%;
  height: 48px;
  margin-top: 20px;
  padding: 21px 14px 1px 10px;
  line-height: 1;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
}

label{
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;;
  font-weight: 100;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.homepageTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -60%);
}

button, submit { border:none; }

.hideButton{
  padding-right: 20px;
  margin: -100px;
}
.callout {
  font-family: 'Raleway', sans-serif;
  color: white;
    width: 90%;
    margin: 16px auto;
    padding: 16px;
    background-color: pink;
    font-size: 16px;
    font-weight: 300;
}

.groupSelect{
  margin-top: 20px;
}

button {
  display: block;
  height: 38px;
  padding: 14px 64px 16px 64px;
  background-color: black;
  color: white;
  margin: 20px 10px 30px 0px;
  font-family: 'Raleway', sans-serif;;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 3px;
  cursor: pointer;
}

.primaryBtn{
  height: 48px;
  width: 90px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  margin: 0px 10px 0px 0px;
  font-family: 'Raleway', sans-serif;;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 3px;
}

.chooseFileBtn{
  background-color: red;

}
.instaBtn{
  height: 48px;
  width: 49%;
  background-color: #ea3878;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  margin: 0px 10px 0px 0px;
  font-family: 'Raleway', sans-serif;;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 3px;
}

.primaryBtn:hover {
  background-color: lighten( black, 20% );
}
.homepageBtn {
  margin: 30px 0px 0px 0px;
}


.thumbnail{
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 8px 8px;
}

.PhotosAddedBy{
  margin-top: 20px;
  margin-left: 20px;
}

.imageAlone{
  margin: 20px;
  display: block;
}

.commentSection{
  width: 90%;
    background-color: white;
    border: 1px solid $borderColor;
    margin: 30px auto;
    padding: 20px;
}

.imgSection{

  padding: 8px;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  background-color: white;
  border: 1px solid $borderColor;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start

}
span{
  font-weight: bold;
}

.groupBox{
  padding: 8px;
  margin: 30px 100px;
  list-style: none;
}

.blockTitle{
  color: black;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0px 0px 0px;
}


.groupShow{
  display: inline-block;
  width: 30%;
  background-color: white;
  padding: 16px;
  border: 1px solid $borderColor;
  margin: 0px 24px 24px 0px;
}

.groupShow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.1);
  -webkit-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 -moz-transition: all 0.2s linear;
 -ms-transition: all 0.2s linear;
 -kthtml-transition: all 0.2s linear;
 transition: all 0.2s linear;
}

.members{
  font-size: 14px;
  display: inline-block;
  margin: 0px 8px 8px 0px;
  background-color: $borderColor;
  padding: 8px 16px;
  border-radius: 30px;
  text-align: center;
}


.groupPage{
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.groupPage ul {
  align-items: flex-start;
  list-style: none;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
/*Also */
.btn-success {
  color: white;
  background-color: black;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
.fileinput-button {
  position: relative;
  overflow: hidden;
}
/*Also*/
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter:'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
